#home {
  background-color: #F5F5F5;
  padding-bottom: 60px;
}
#home a:active,
#home a:visited,
#home a:link {
  color: #35cf76;
}
#home .header {
  height: 100px;
  box-sizing: border-box;
  padding: 0.1rem 0.3rem;
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  background-color: #fff;
}
#home .header .perform-img {
  height: 80px;
  width: 2rem;
  margin-right: 25px;
}
#home .header .left {
  font-size: 0.3rem;
}
#home .header .left .perform-title {
  height: 40px;
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  line-height: 20px;
}
#home .header .left .perform-price {
  margin-top: 10px;
  height: 30px;
  font-weight: bold;
  color: red;
  line-height: 30px;
}
#home .header .left .perform-price span {
  color: gray;
  font-weight: normal;
}
#home .perform-info {
  padding: 0.1rem 0.25rem;
  box-sizing: border-box;
  background-color: #fff;
  font-size: 0.3rem;
  margin-bottom: 10px;
}
#home .perform-info .info {
  height: 30px;
  line-height: 30px;
}
#home .perform-info .info .icon {
  width: 0.35rem;
  vertical-align: middle;
  margin-right: 0.2rem;
}
#home .perform-introduce {
  padding: 0.1rem 0.25rem;
  background-color: #fff;
  margin-bottom: 10px;
  font-weight: bold;
}
#home .perform-introduce .introduce-header {
  height: 40px;
  font-size: 0.3rem;
  line-height: 40px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.4);
}
#home .perform-introduce .introduce-details .introduce-title {
  font-size: 0.3rem;
  height: 45px;
  line-height: 45px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
#home .perform-introduce .introduce-details .introduce-info {
  font-size: 0.3rem;
  height: 25px;
  line-height: 25px;
}
#home .perform-introduce .introduce-details .introduce-info::before {
  display: block;
  content: '';
  float: left;
  border: 2px solid #35cf76;
  border-radius: 50%;
  width: 6px;
  height: 6px;
  margin-top: 7px;
  margin-right: 0.2rem;
}
#home .perform-introduce .more-introduce {
  height: 30px;
  line-height: 30px;
  font-weight: normal;
  color: #35cf76;
  text-decoration: underline;
  text-align: right;
}
#home .buy-tip {
  padding: 0.1rem 0.25rem;
  background-color: #fff;
  margin-bottom: 10px;
  font-weight: bold;
}
#home .buy-tip .tip-header {
  height: 40px;
  font-size: 0.3rem;
  line-height: 40px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.4);
}
#home .buy-tip .tip-info {
  box-sizing: border-box;
  padding: 10px 0px;
}
#home .buy-tip .service-phone {
  height: 30px;
  line-height: 30px;
  font-weight: normal;
  color: #35cf76;
  text-decoration: underline;
  text-align: center;
}
#home .buy-btn {
  position: fixed;
  width: 100%;
  bottom: 0px;
  height: 55px;
  font-weight: bold;
  line-height: 55px;
  text-align: center;
  color: #fff;
  background-color: #35cf76;
  font-size: 0.35rem;
}
